/apinova/.vs/apinova/DesignTimeBuild/.dtbcache.v2
/apinova/.vs/apinova/FileContentIndex/e5193309-43bd-4579-a74e-271995c0abaa.vsidx
/apinova/.vs/apinova/v17/.futdcache.v2
/apinova/.vs/apinova/v17/.suo
/apinova/.vs/apinova/v17/DocumentLayout.json
/apinova/.vs/ProjectEvaluation/apinova.metadata.v8.bin
/apinova/.vs/ProjectEvaluation/apinova.projects.v8.bin
/apinova/.vs/ProjectEvaluation/apinova.strings.v8.bin
/apinova/bin/
/apinova/obj/
